[Unit]
Description=Kafka Branch Broker
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/docker-compose -f /home/ubuntu/oracle-sync-project/docker/branch/docker-compose-branch.yml up kafka-branch
ExecStop=/usr/bin/docker-compose -f /home/ubuntu/oracle-sync-project/docker/branch/docker-compose-branch.yml stop kafka-branch
WorkingDirectory=/home/ubuntu/oracle-sync-project/docker/branch
Restart=on-failure

[Install]
WantedBy=multi-user.target
