[Unit]
Description=Kafka Connect Hub
After=kafka-hub.service

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/docker-compose -f /home/ubuntu/oracle-sync-project/docker/hub/docker-compose-hub.yml up kafka-connect-hub
ExecStop=/usr/bin/docker-compose -f /home/ubuntu/oracle-sync-project/docker/hub/docker-compose-hub.yml stop kafka-connect-hub
WorkingDirectory=/home/ubuntu/oracle-sync-project/docker/hub
Restart=on-failure

[Install]
WantedBy=multi-user.target
